.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 10px;
    background-color: #021027;
  }
  
  .nombre-footer {
    color: white;
  }
  
  .año {
    color: crimson;
  }


  @media (max-width: 768px) {

.footer{
  margin: auto;
}
    
  }
  